### Series : 1-D data structure column vector of data table.

* **How do we construct pandas series**
* ==> series is 1-D array like structure with homogeneous data.
* ==> The general way to create a series is to call : pd.Series(data,index=index)

**Different way to create series**

In [2]:
import pandas as pd
import numpy as np

**1.Create series from list**

In [3]:
age = pd.Series([10,20,30,40,50])
print(age)

0    10
1    20
2    30
3    40
4    50
dtype: int64

**2.Create series from list**

In [4]:
age = pd.Series([20,25,30,35,40], index=[1,2,3,4,5])
alpha= pd.Series(["a","b","c","d","f"], index=[1,2,3,4,5])

In [5]:
print(age)

1    20
2    25
3    30
4    35
5    40
dtype: int64

In [6]:
print(alpha)

1    a
2    b
3    c
4    d
5    f
dtype: object

**3.Create Series from np**

In [7]:
age=pd.Series(np.array([10,20,30,40,50]))
print(age)

0    10
1    20
2    30
3    40
4    50
dtype: int32

**4.Create Series from dictionary**

In [8]:
t_dict={"Ram":400,"Shyam":500,"Geeta":600}
student=pd.Series(t_dict)
print(student)

Ram      400
Shyam    500
Geeta    600
dtype: int64

In [9]:
#Examples

In [10]:
labels = ['a', 'b', 'c']

In [11]:
pd.Series(student,labels)

a   NaN
b   NaN
c   NaN
dtype: float64

In [12]:
s_example = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])

In [13]:
s_example

d    4
b    7
a   -5
c    3
dtype: int64

In [14]:
s_example.values

array([ 4,  7, -5,  3], dtype=int64)

In [15]:
s_example.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [16]:
s_example['d']=410

In [17]:
s_example

d    410
b      7
a     -5
c      3
dtype: int64

In [18]:
s_example>0

d     True
b     True
a    False
c     True
dtype: bool

In [19]:
#in
'd' in s_example

True

In [20]:
400 in s_example

False

In [21]:
7 in s_example

False

In [22]:
d = {"India": "Delhi", "Srilanka": "Colombo", "a": "Sydney"}

In [23]:
s1=pd.Series(d,labels)

In [24]:
s1

a    Sydney
b       NaN
c       NaN
dtype: object

In [25]:
type(s1)

pandas.core.series.Series